# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build/
#qt 
*.qm
#creeper bins
Makefile
src/creepercoind
qrc_bitcoin.cpp
creepercoin-qt
